$primary-color: #4285F4;
$secondary-color: #00847A;
$heading-font-color:#383838;
$body-font-color:#565656;
$breadcrumb-font-color:#B8C1C6;
$white-font-color:#ffffff;
$black-font-color:#000000;
$white-color:#ffffff;
$black-color:#000000;
$table-border-color:#EDEDED;
$site-tagline-color:  #B8C1C6;
$tab-description-color:#C4C7D8;
$tabs-main-heading-color:#383838;
$vertical-tabs-background-color: #F3F6FD;


$facebook-color: #3B5998;
$youtube-color: #CD201F;
$linkedin-color: #006699;
$twitter-color: #01BBF6;
$instagram-color: #924AC8;